#main-body {
    padding:3%;
    flex:8;
}

.empty-space {
    background-color: transparent;
    flex: 1;
    border-color: black;
    border-style: solid;
    border-width: 0;
}

.divider-line {
    background-color: black;
    flex: 1;
}